<mat-card class="trip-summary-card mat-elevation-z0" *ngIf="routeInfo.distance !== 0" fxFlex>
  <mat-card-content fxFlexFill fxLayout="row" fxLayoutAlign="space-around stretch">
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <div fxLayout="row" fxLayoutAlign="space-between end">
        <span class="digits">{{ routeInfo.maxSpeed | number: '1.0-0' }}</span>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <mat-icon>speedometer</mat-icon>
          <span class="units"> km/h</span>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <div fxLayout="row" fxLayoutAlign="space-between end">
        <span class="digits">{{ routeInfo.avgSpeed | number: '1.0-0' }}</span>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <mat-icon>av_timer</mat-icon>
          <span class="units"> km/h</span>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <div fxLayout="row" fxLayoutAlign="space-between end">
        <span class="digits">{{ routeInfo.distance | number: '1.0-1' }}</span>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <mat-icon>place</mat-icon>
          <span class="units"> km</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
