@import '~@angular/material/theming';

$digit-typography: mat-typography-config(
  $font-family: 'Montserrat, monospace',
  $headline: mat-typography-level(42px, 60px, 700),
  $caption: mat-typography-level(10px, 16px, 400),
  $body-1: mat-typography-level(14px, 16px, 400),
);

.digits {
  font-family: mat-font-family($digit-typography);
  font-size: mat-font-size($digit-typography, headline);
  letter-spacing: 0.1em;
  font-weight: bold;
}

.units {
  font-family: mat-font-family($digit-typography);
  font-size: mat-font-size($digit-typography, caption);
  letter-spacing: 0.2em;
  margin-bottom: 7px;
}

.trip-summary-card {
  border-radius: 0px;
  background: transparent;
}
