.sidenav-container {
  height: calc(100vh - 64px);
}

.video-list {
  width: 400px;
}

.map-component {
  margin-top: -36px;
}

.video-picker-toggle-button {
  z-index: 10;
}

.map-container,
.video-container {
  height: 810px;
}

.video-container {
  margin-left: -64px;
}

.speed-chart {
  height: 239px;
}

.trip-summary {
  height: 100px;
}

.speed-chart-trip-summary {
  margin-top: -269px;
  padding-bottom: 30px;
  background: linear-gradient(to bottom, rgba(117, 116, 116, 0), rgb(61, 61, 61));
  z-index: 10;
}

.sidenav-content {
  overflow: hidden;
}

:host /deep/ .vjs-control-bar {
  z-index: 15;
}
