<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="video-list" #sidenav [mode]="'side'" [opened]="isVideoListOpened">
    <div>
      <app-video-list (childEvent)="videoFile = $event"></app-video-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="row">
    <div fxFlex="50" fxLayout="column">
      <div fxFlex="32px" class="video-picker-toggle-button">
        <button mat-raised-button class="toggle-video-list" (click)="isVideoListOpened = !isVideoListOpened">
          <mat-icon class="material-icons">{{ isVideoListOpened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
        </button>
      </div>
      <div fxFlex class="map-component">
        <app-google-map fxFlex [log]="videoLog" [logs]="videoLogs"> </app-google-map>
      </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <app-video-player [video]="videoFile" (updateLog)="videoLog = $event" (readyLogs)="videoLogs = $event"></app-video-player>
      <div fxLayout="column">
        <app-speed-chart class="speed-chart" fxFlex="70" [log]="videoLog" [logs]="videoLogs" [maxSpeed]="maxSpeed"></app-speed-chart>
        <app-summary fxFlex="30" [logs]="videoLogs" (maxSpeed)="maxSpeed = $event"> </app-summary>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
