.sidenav-container {
  height: calc(100vh - 64px);
}

.video-list {
  width: 400px;
}

.map-component {
  margin-top: -36px;
}

.video-picker-toggle-button {
  z-index: 10;
}

.assets-container,
.video-container {
  height: 810px;
}

.video-container {
  margin-left: -64px;
}
