<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="video-list" #sidenav [mode]="'side'" [opened]="isVideoListOpened">
    <div>
      <app-video-list (childEvent)="videoFile = $event"></app-video-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <app-speed-chart
        fxLayout="column"
        fxFlex
        fxLayoutAlign="center center"
        [log]="videoLog"
        [logs]="videoLogs"
        [maxSpeed]="maxSpeed"
      ></app-speed-chart>
    </div>

    <div fxFlex="40">
      <app-google-map fxFlex [log]="videoLog" [logs]="videoLogs"> </app-google-map>
    </div>
    <div fxFlex fxLayout="column">
      <app-video-player [video]="videoFile" (updateLog)="videoLog = $event" (readyLogs)="videoLogs = $event"></app-video-player>
      <div fxLayout="row">
        <app-summary fxFlex [logs]="videoLogs" (maxSpeed)="maxSpeed = $event"> </app-summary>
        <app-speed-chart fxLayout="column" [log]="videoLog" fxFlex [logs]="videoLogs" fxLayoutAlign="center center"></app-speed-chart>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
